/PedindoNota1.class
/ValidandoDados3.class
/PopulacaoAeB4.class
/PopulacaoAeB5.class
/Tabuada12.class
/Exponenciacao13.class
/Fibonacci15.class
/Fatorial17.class
/ConjuntoN19.class
/FatorialNVezes20.class
/NumPrimos22.class
/NumPrimos23.class
/EhPrimo22.class
/MediaIdades25.class
